# Directories
.vs/
.vscode/
bin/
bin-int/

# Files
*.user

Engine.sln

Sandbox/Sandbox.vcxproj
Sandbox/Makefile

Engine/Engine.vcxproj
Engine/Engine.vcxproj.filters
Engine/Makefile

Makefile
